* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.container {
    width: 350px;
}

.weather-card {
    margin-top: 20px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 30px;
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.weather-card {
    transition: transform 0.3s ease;
}

.weather-card:hover {
    transform: translateY(-5px);
}

.search-box {
    display: flex;
    gap: 10px;

}

input {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 15px;
    outline: none;
    transition: 0.3s;
}

input:hover {
    transform: scale(1.05)
}

button {
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05)
}



#temperature {
    font-size: 6rem;
    font-weight: 700;
    margin: 20px 0;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

@media (max-width:480px) {

    .container {
        width: 90%;
    }

    .search-box {
        flex-direction: row;
    }

    #search {
        width: 100px;
    }

    .temperature {
        font-size: 4.5rem;
    }
}

.location-btn {
    margin-top: 30px;
    width: 100%;
    padding: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;

    color: white;
    font-size: 1rem;
    font-weight: 600;

    transition: all 0.3s ease;
}

.location-btn:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateY(-2px);
}

.location-btn:active {
    transform: scale(0.97);
}